$background-color-nav:#184a1f;
$background-color:#f2f2f2;
$links-collapse-color:#45913c;
$muted-color:#737373;
$font-important-color:red;
$font-color:#012F63;
$border-color:#C0C2CE;
$border-radius:7px;